.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    justify-content: space-between;
}
.col_1{
    columns: 4px;
    margin: 6px;
}
.col_2{
    align-self: center;
    columns: 6px;
    margin: 6px;
}
.title{
    color: azure;
    text-align: center;
    font-size: 50px;
}
.img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
@media(max-width:360px) {
    .img{
        width: 75px;
        height: 75px;
    }
    .title{
        font-size:xx-large;
    }
}