.nav{
    display: flex;
    background-color: darkolivegreen;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    z-index: 1000;
}
.col_1{
    columns: 4px;
    margin: 6px;
}
.col_2{
    align-self: center;
    columns: 6px;
    margin: 6px;
}
.imag{
    border-radius: 100px;
    width: 200px;
    height: 200px;
    margin: 4px;
}
.title{
    color: azure;
    text-align: center;
    font-size: 100px;
}
@media(max-width:360px) {
    .nav{
        display: block;
    }
    .title{
        font-size:xx-large;
    }
}