.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    justify-content: space-between;
}
.col_1{
    columns: 4px;
    margin: 6px;
}
.col_2{
    align-self: center;
    columns: 6px;
    margin: 6px;
}
.title{
    color: azure;
    text-align: center;
    font-size: 100px;
}
@media(max-width:360px) {
    .nav{
        display: block;
    }
    .title{
        font-size:xx-large;
    }
}