
.h1{
    margin-left: 20px;
    color: darkolivegreen;
    max-width: 300px;
    ;
}

.imag{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

@media (max-width:360px) {
    .h1{
        text-align: center;
    }
}